<% include ../partials/head %>
  <div>
    <div>
      <h1><span></span>Profile Page</h1>
      <a href="/logout">Logout</a>
    </div>

    <div>
      <!-- LOCAL INFORMATION -->
      <div>
        <div>
          <h3><span></span> Local</h3>
          <p>
            <strong>username</strong>: <%= user.username %><br>
            <strong>password</strong>: <%= user.password %>
          </p>
          <p>Go <a href="/">home</a>.</p>
          <a href="/login"><span></span>Local Login</a>
          <a href="/signup"><span></span>Local Signup</a>
        </div>
      </div>
      <!-- FACEBOOK INFORMATION -->
      <div>
        <div>
          <h3><span></span>Facebook</h3>
          <p>
            <strong>name</strong>: <%= user.username %>
            <strong>email</strong>: <%= user.email %><br>
            <strong>id</strong>: <%= user.facebookId %><br>
            <strong>token</strong>: <%= user.facebookToken %><br>
          </p>
        </div>
      </div>
    </div>
  </div>
<% include ../partials/footer %>