<% include ../partials/head %>
  <div>
    <div>
      <h1>Profile Page</h1>
      <a href="/logout">Logout</a>
    </div>

    <div>
      <!-- LOCAL INFORMATION -->
      <div>
        <div>
          <h3>Local</h3>
          <% if (user.username) { %>
            <p>
              <strong>username</strong>: <%= user.username %><br>
              <strong>email</strong>: <%= user.email %><br>
              <strong>password</strong>: <%= user.password %>
            </p>
            <a href="/unlink/local">Unlink</a>
          <% } else { %>
            <a href="/connect/local">Connect Local</a>
          <% } %>
        </div>
      </div>
      <!-- FACEBOOK INFORMATION -->
      <div>
        <div>
          <h3>Facebook</h3>
          <% if (user.facebookToken) { %>
            <p>
              <strong>name</strong>: <%= user.facebookName %><br>
              <strong>email</strong>: <%= user.facebookEmail %><br>
              <strong>id</strong>: <%= user.facebookId %><br>
              <strong>token</strong>: <%= user.facebookToken %><br>
            </p>
            <a href="/unlink/facebook">Unlink</a>
          <% } else { %>
            <a href="/connect/facebook">Connect Facebook</a>
          <% } %>
        </div>
      </div>
      <!-- GOOGLE INFORMATION -->
      <div>
        <div>
          <h3>Google</h3>
          <% if (user.googleToken) { %>
            <p>
              <strong>name</strong>: <%= user.googleName %><br>
              <strong>email</strong>: <%= user.googleEmail %><br>
              <strong>id</strong>: <%= user.googleId %><br>
              <strong>token</strong>: <%= user.googleToken %><br>
            </p>
            <a href="/unlink/google" class="btn btn-danger">Unlink</a>
          <% } else { %>
            <a href="/connect/google" class="btn btn-danger">Connect Google</a>
          <% } %>
        </div>
      </div>
      <!-- TWITTER INFORMATION -->
      <div>
        <div>
          <h3>Twitter</h3>
          <% if (user.twitterToken) { %>
            <p>
              <strong>username</strong>: <%= user.twitterUsername %><br>
              <strong>displayName</strong>: <%= user.twitterDisplayName %>
              <strong>id</strong>: <%= user.twitterId %><br>
              <strong>token</strong>: <%= user.twitterToken %><br>
            </p>
            <a href="/unlink/twitter">Unlink</a>
          <% } else { %>
            <a href="/connect/twitter">Connect Twitter</a>
          <% } %>
        </div>
      </div>
      <p>------------------------</p>
      <a href="/">Home</a><br>
      <a href="/login">Local Login</a><br>
      <a href="/signup">Local Signup</a><br>
      <a href="/profile">Profile</a>
    </div>
  </div>
<% include ../partials/footer %>